@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Roboto:wght@100;300;400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  color: #000;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}

p {
  font-size: 28px;
  font-family: "PT Sans", sans-serif;
  line-height: 48px;
  font-weight: 400;
  font-style: normal;
  margin: 40px 0;
}
h1 {
}
h2 {
  font-size: 36px;
  font-family: "Francois One", sans-serif;
  letter-spacing: 4px;
  line-height: 48px;
  text-transform: uppercase;
}
h3 {
  font-size: 30px;
  font-family: "Farro", sans-serif;
  font-weight: lighter;
  line-height: 30px;
}

.button {
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.bottom_line {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.gray {
  background-color: #dadada;
}
/*======================== header ====================================*/
header {
  padding: 15px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
}

.navigation__item {
  margin-right: 10px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.language {
  font-family: "Tourney", cursive;
}
.navigation__item a {
  font-family: "Staatliches", cursive;
  font-size: 22px;
  font-weight: 400;
}

/*========================================= section ===========================*/
.title_box {
  display: flex;
  margin: 40px 0;
}

.chapter {
  margin-left: 10px;
}
